
body {
    background-image: url("peach.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
}


#page {
    position: absolute;
    top: 40px;
    left: 80px;
}


#title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;

    color: #ff6f61; 
    text-align: left;
    font-size: 48px;
}


#photo {
    position: absolute;
    top: 90px;
    left: 0px;
}

#photo img {
    width: 900px;
    border-radius: 15px; 
}


#intro {
    position: absolute;
    top: 760px;
    left: 0px;
    width: 900px;

    color: #333;
    font-size: 20px;
}


#text {
    position: absolute;
    top: 860px;
    left: 0px;

    color: #da4e4e; /* soft purple */
    font-weight: bold;
}


#list {
    position: absolute;
    top: 930px;
    left: 20px;
}


#list a {
    color: #698aff; /* pink */
    text-decoration: none;
    font-size: 20px;
}
