body {
    background-image: url("peach.jpg");
}


#page {
    position: absolute;
    top: 40px;
    left: 80px;
}


#title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 900px;
    color: darkred;
    font-size: 50px;
}


#photo {
    position: absolute;
    top: 80px;
    left: 0px;
}

#photo img {
    width: 1000px;  
}

#intro {
    position: absolute;
    top: 750px;
    left: 0px;
    width: 1000px;
}

#text {
    position: absolute;
    top: 820px;
    left: 0px;
}

#list {
    position: absolute;
    top: 880px;
    left: 20px;
}
